.boxes-news {
  margin-left: -15px;
  margin-right: -15px;
  .news-box-down {
    padding: 0px;
    border-bottom: 2px dashed @grey;
    margin-left: 30px;
    color: @black;

    img {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  .box {

    //box di aase
    //background-color: red;
    //margin-top: 16px;
    height: auto;
    overflow: hidden;
    color: @white;
    padding: @box_padding_position;
    min-height: 144px;
    -webkit-transition: all @t-slow ease;
    -o-transition: all @t-slow ease;
    transition: all @t-slow ease;
    font-weight: normal;





    .mBox {

     .shadowsMDesign;

      img {

        height: auto;
        width: 100%;
        display: block;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        //border: 3px solid @orange;
        // background-color: @orange;

      }

      @media (min-width: 0px) and (max-width: 992px) {
        img {

          max-height: 150px;
          object-fit: cover;
          //border: 3px solid @orange;
          // background-color: @orange;

        }


      }

      .entry-date {
        background: rgba(250, 105, 0, 0.8);
        left: @box_padding_position;
        padding: 5px;
        position: absolute;
        top: @box_padding_position;
        font-size: @p-text;
        text-transform: uppercase;
        -webkit-border-top-left-radius: 2px;
        -moz-border-radius-topleft: 2px;
        border-top-left-radius: 2px;
      }

      .the-author {
        .entry-date;
        background: #fa6900;
        line-height: 140%;
        backrground-opacity: 1;
        position: relative;
        top: 10px;
        left: 0;

      }

      .title-header {
        background: none repeat scroll 0 0 rgba(250, 105, 0, 0.8);
        position: absolute;
        bottom: @box_padding_position;
        left: @box_padding_position;
        right: @box_padding_position;
        padding: 5px;
        border: 1px;
        padding: 10px;
        font-size: @p-text+5;
        -webkit-border-bottom-right-radius: 2px;
        -webkit-border-bottom-left-radius: 2px;
        -moz-border-radius-bottomright: 2px;
        -moz-border-radius-bottomleft: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;

      }

      @media (min-width: 0px) and (max-width: 992px) {

        .title-header {

          border: 0 none;
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;
          bottom: 0;
          float: left;
          font-size: 17px;
          left: 0;
          padding: 10px;
          position: relative;
          right: 0;
          width: 100%;
        }

      }

      .the-excerpt {

        background: none repeat scroll 0 0 @black;
        height: auto;
        position: absolute;
        top: @box_padding_position;
        bottom: @box_padding_position;
        opacity: 0;
        transition-property: opacity;
        transition-duration: @t-slow;
        padding: 25px;
        padding-top: 30px;
        left: @box_padding_position;
        right: @box_padding_position;
        line-height: 160%;
        text-align: center;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        font-size: @body-text;


        @media (min-width: 992px) and (max-width: 1199px) {

          font-size: 14px;
        }
        &:hover, &:active {
          opacity: 0.9;
        }


      }

      @media (min-width: 0px) and (max-width: 992px) {

        .the-excerpt {

          background: @greyorange_rgba;
          border-radius: 0;
          bottom: 0;
          color: @black;
          float: left;
          font-size: 16px;
          height: auto;
          left: 0;
          line-height: 160%;
          opacity: 1;
          padding: 10px;
          position: relative;
          right: 0;
          text-align: left;
          top: 0;
          width: 100%;
          transition-duration: 0.17s;
          transition-property: opacity;
        }

      }

      .icon-post-type-content {
        //background: red none repeat scroll 0 0;
        border-top-right-radius: 2px;
        font-size: 16px;
        padding: 2px 7px;
        position: absolute;
        right: @box_padding_position;
        text-align: right;
        top: @box_padding_position;
        width: auto;
      }

      .azure {
        background: @azure_rgba
      }
      .orange {
        background: @orange_rgba
      }
      .grey {
        background: @grey_rgba;
        color: black;
      }
      .water {
        background: @water_rgba;
        color: black;
      }
      .goldfish {
        background: @goldfish_rgba
      }
      .black {
        background: @black_rgba
      }
      .facebook {
        background: @facebook_rgba
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 992px) {
  .box {
    padding: 0px!important;
    margin: 8px!important;

  &:hover, &:focus {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }}
}



