@import ('less/variables.less');
@import('less/typograpy.less');
@import('less/elements.less');
@import('less/forms.less');
@import('less/layout.less');

//FONT
@import url(http://fonts.googleapis.com/css?family=Hind:400,300,500,600,700);




/*HEADER*/

.site-header{
    height: 100vh;
    background: @water;

    h3 a{
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
    font-size: @big-text;
    color: @grey;
    border: solid 3px @grey;
    padding: 5px;
    }
}