@import url('bootstrap/css/bootstrap.css');
@import url('layouts/carousel-full.css');
@import url('http://fonts.googleapis.com/css?family=Hind:400,300,500,600,700');
.body {
  padding-top: 70px;
}
.site-header {
  height: 100vh;
}
.site-header h3 a {
  font-family: 'Hind', sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  color: #ffffff;
  border: solid 3px #ffffff;
  padding: 5px;
}
.site-header h3 a:hover,
.site-header h3 a:active {
  text-decoration: none;
}
.site-header .top-bar {
  background-color: #fa6900;
}
.site-header .navbar-inverse {
  border: none;
}
.site-header .mega-menu-wrap {
  background-color: transparent!important;
}
