//BOOTSTRAP
@import url('bootstrap/css/bootstrap.css');
//VARIABLES LESS FILE
@import url('less/variables.less');
// CAROUSEL FULL HEIGHT CSS
@import url('layouts/carousel-full.css');
//FONT
@import url('http://fonts.googleapis.com/css?family=Hind:400,300,500,600,700');

.body {
    padding-top: 70px;
}

.site-header{ 
    height: 100vh; 

    h3 {
        a{
            font-family: 'Hind', sans-serif;
            text-transform: uppercase;
            font-size: @big-text;
            color: @white;
            border: solid 3px @white;
            padding: 5px;
        }

        a:hover, a:active{
            text-decoration: none;
        }


    }
    .top-bar{
        background-color: @orange;
    }
    .navbar-inverse{
        //bootstrap override
        border: none; 
    }

    .mega-menu-wrap{
        //megamenu override
        background-color: transparent!important;
    }

}





